<html>
    <body>
        Employee First Name is : <%= firstName %> <br>
        Employee Last Name is : <%= lastName %> <br>
        Employee id is : <%= employeeId %> <br>
        Employee Designation is : <%= designation %> <br>
    </body>
</html>