<html>
    <head></head>
    <body>
        <form method="post" action="http://localhost:3000/employeeDet">
            <label>First Name:</label><input type="text" name="firstName"><br>
             <label>Last Name:</label><input type="text" name="lastName"><br>
              <label>Employee Id:</label><input type="text" name="employeeId"><br>
               <label>Designation:</label><input type="text" name="designation"><br>
               <input type="submit">

        </form>
    </body>
</html>